{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
article{
  .image{
    text-align: center;
  }
  img{
    max-width: 100%;
    object-fit: contain;
    max-height: 400px;
    height: auto;
  }
}
</style>
{% endblock %}

{% block main %}
<main class="main">
    {{ include('block/hero.html.twig') }}

    <div class="container node-body">
      
      {% if node.image %}
      <img class="w-100 mt-5 title-image" src="{{asset("images/#{node.image}")}}">
      {% endif %}
      <h3 class="node-title py-5 text-center">{{ node.title }}</h3>
      <article class="my-5">
        {{ node.body|raw }}
      </article>
    </div>

  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
