    <!-- Pricing Section -->
    <section id="pricing" class="pricing section map">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Architecture</span>
        <h2>机构组织架构图</h2>
        <img src="assets/img/arch-1.jpg">
      </div>

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Architecture</span>
        <h2>法人机构部门设置</h2>
        <img src="assets/img/arch-2.jpg">
      </div>

    </section><!-- /Pricing Section -->
