    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>业务咨询</h3>
              <p>大同经纪已经形成了风险管理、风险转移、损失善后等诸多保险经纪服务的成熟经营模式。选择大同，牵手大同，无疑是智者的首选。</p>
              <a class="cta-btn" href="{{path('app_feedback')}}">提交需求</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->
