
    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
            <div>
              <h4 class="title">解决方案</h4>
              <p class="description">为政府、企业、个人客户提供全方位、全体系、全流程的风险解决方案。</p>
              <a href="#" class="readmore stretched-link"><span>了解详情</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
            <div>
              <h4 class="title">产品优选</h4>
              <p class="description">从系统化、网络化和交互影响的视角来观察和分析经济社会发展中可能面临的重大风险。</p>
              <a href="#" class="readmore stretched-link"><span>了解详情</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div>
              <h4 class="title">专属定制</h4>
              <p class="description">我们重视您的需求，深谙您对生活的憧憬。我们将从多个维度提供友善建议，助您规划生涯、赢得人生。</p>
              <a href="#" class="readmore stretched-link"><span>了解详情</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Featured Services Section -->
