    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Features</span>
        <h2>我们的优势</h2>
        <p>大同经纪已经形成了风险管理、风险转移、损失善后等诸多保险经纪服务的成熟经营模式。相比于同业，大同经纪至少具有显著优势：</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="assets/img/features-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>资本实力优势</h3>
            <p class="fst-italic">
控股股东联想控股集团创办于1984年，2012年综合营业额2266亿元，总资产1872亿元，是世界500强企业。联保投资集团是全产业链的大型金融保险服务集团，注册资本金1.2亿元，是国家保监会第一批批准筹建的五家保险中介集团之一。
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span>大同经纪注册资本金5000万元，是世界500强企业</span></li>
              <li><i class="bi bi-check"></i> <span>2012年综合营业额2266亿元，总资产1872亿元</span></li>
              <li><i class="bi bi-check"></i> <span>联保投资集团是全产业链的大型金融保险服务集团，注册资本金1.2亿元，是国家保监会第一批批准筹建的五家保险中介集团之一</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{{asset('images/features-2.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>理论技术优势</h3>
            <p class="fst-italic">
雄厚的经济实力支撑和推动了深入的理论研究。
            </p>
            <p>
在教育、医疗卫生、环境保护等领域的风险管理研究方面纂写了13个行业的风险管理报告，拥有同业公司无法企及的理论水平和技术实力。
            </p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
            <img src="{{asset('images/features-3.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>项目经验优势</h3>
            <p>大同经纪积极参与湖北省教育、医疗、环保等行业风险管理服务方面的研究与实践，在诸多行业建立并完善了“政府推动、政策引导、多方参与、市场运作”的行业风险管理服务体系</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>服务湖北省内17个县市行业行政主管部门</span></li>
              <li><i class="bi bi-check"></i><span>以及67家企业或行业协会</span></li>
              <li><i class="bi bi-check"></i> <span>163个居民社区</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
            <img src="{{asset('images/features-4.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>总部区位优势</h3>
            <p class="fst-italic">
大同经纪成立于2004年5月，是湖北地区第一家获批的全国性保险经纪公司。
            </p>
            <p>
湖北省人民政府金融办为公司的设立专门发文督办支持并寄予厚望，武汉市政府及省保监局对公司的设立也给予了大力支持和高度关注。湖北大同总部位于武汉，相对于同业，其决策程序高效，服务速度快捷，资源倾斜力度有保证，本地公共关系紧密，突发事件应对能力强的优势非常明显。
            </p>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->
