    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(/assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>About</h1>
        <p>大同经纪对行业风险管理服务体系建设有着自己独特的推广方式和管理经验，并集合了一大批有经验的保险经纪和风险管理专业人员。</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ path('app_index') }}">首页</a></li>
            <li class="current">关于我们</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
