    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(/assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>{{ page.label|upper}} </h1>
        <p>{{ page.intro }}</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ path('app_index') }}">首页</a></li>
            <li class="current">{{ page.name }}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
