    <!-- Pricing Section -->
    <section id="pricing" class="pricing section map">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Locations</span>
        <h2>网点分布</h2>
        <p>2014年，大同经纪资产重组后，在省政府及各职能部门的全力支持下，高点起步，快速布局，在全省各市州设立了分支机构，形成了在全省范围内通行达业、通城达镇、通乡达村、通街达巷的城乡经纪服务网络。我们已根植湖北并走向全国：下辖28家机构，其中湖北省内分公司18家，省外分公司6家，省内营业部 4 家。 </p>
      </div><!-- End Section Title -->

      <div class="container">
      <img src="assets/img/map.jpg">

      </div>

    </section><!-- /Pricing Section -->
