    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Our Services<br></span>
        <h2>我们的服务</h2>
        <p>为政府、企业、个人客户提供全方位、全体系、全流程的风险解决方案。</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-1.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">政府风险解决方案</a></h3>
              <p>依托常年服务政府、企事业单位丰富经验，积极协助有关部门，通过加强风险管理能力建设，建立健全现代风险管理体系，推动社会治理领域保险产品和风险管理服务创新，不断完善多层次社会保障体系。</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-2.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">企业风险解决方案</a></h3>
              <p>深度参与采矿业、制造业、建筑业、电力热力、交通运输、金属冶炼、水利、商贸等多个行业的企业风险管理项目，利用风险识别分析，细分风险类型，为相关行业提供专业化、定制型的风险管理服务。</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-3.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">个人风险解决方案</a></h3>
              <p>我们重视您的需求，更深谙您对生活的憧憬。安诺将从健康管理、疾病康复、出行保障、财富传承等多个维度提供友善建议，助您规划生涯、赢得人生。</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-4.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">责任保险</a></h3>
              <p>我们拥有丰富的农业保险项目经验，可向政府及有关单位提供：农业保险政府采购代理服务；农业保险绩效评价服务；农业保险技术咨询服务……</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-5.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">财产保险</a></h3>
              <p>我们已为多个省级、市级责任保险统保项目提供经纪服务，可协助政府及有关单位开展：承运人责任险；安全生产责任保险；环境污染责任保险...</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-6.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">健康保险</a></h3>
              <p>针对个人客户的全方位医疗保障产品。通过对住院医疗、指定门诊医疗、住院前后各30天门（急）诊医疗等多项保障内容的覆盖，为投保客户个人和家庭提供全覆盖，高保障的医疗保险服务。</p>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>

    </section><!-- /Services Section -->
