    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Our Services<br></span>
        <h2>我们的服务</h2>
        <p>为政府、企业、个人客户提供全方位、全体系、全流程的风险解决方案。</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          {% for n in fangan %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{{asset("images/#{n.image}")}}" alt="" class="img-fluid">
              </div>
              <h3><a href="{{path('app_node_show', {nid: n.id})}}" class="stretched-link">{{ n.title }}</a></h3>
              <p>{{ n.summary }}</p>
            </div>
          </div><!-- End Card Item -->
          {% endfor %}

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-4.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">责任保险</a></h3>
              <p>我们拥有丰富的保险项目经验，可向政府及有关单位提供：政府保险采购代理服务；保险绩效评价服务；保险技术咨询服务……</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-5.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">财产保险</a></h3>
              <p>我们已为多个省级、市级责任保险统保项目提供经纪服务，可协助政府及有关单位开展：承运人责任险；安全生产责任保险；环境污染责任保险...</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-6.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">健康保险</a></h3>
              <p>针对个人客户的全方位医疗保障产品。通过对住院医疗、指定门诊医疗、住院前后各30天门（急）诊医疗等多项保障内容的覆盖，为投保客户个人和家庭提供全覆盖，高保障的医疗保险服务。</p>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>

    </section><!-- /Services Section -->
