{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="assets/css/news.css" rel="stylesheet">
{% endblock %}

{% block main %}
<main class="main">
    {{ include('block/hero.html.twig') }}

<div class="news py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 news-list">
        {% for i in 0..8 %}
        <div class="col news-item">
          <div class="card shadow-sm">
            <img src="/assets/img/service-2.jpg">
            <div class="card-body">
              <p class="card-text">2021.12.14信息系统培训</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看详情</button>
                </div>
                <small class="text-body-secondary">2024/10/10</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  {{ include('block/pagination.html.twig') }}
</div>


</main>
{% endblock %}

{% block javascript %}
{% endblock %}
