{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block main %}
<main class="main">
    {{ include('block/hero.html.twig') }}

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div id="amap-container" class="mb-4 amap-container" data-aos="fade-up" data-aos-delay="200" style="height: 270px">
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>地址</h3>
                <p>湖北省武汉市武昌区水果湖街中北路126号尚城国际/栋5层20室-1</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>电话</h3>
                <p>027-59301692</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>邮箱</h3>
                <p>info@hbdtjj.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="{{ path('app_feedback_new') }}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="您的姓名" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="您的邮箱" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="title" placeholder="主题" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="body" rows="6" placeholder="详情" required=""></textarea>
                </div>
                <input type="text" class="form-control d-none" name="type" value="0">

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">您的信息已提交。感谢您的关注与支持!</div>

                  <button type="submit">提交</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->


  </main>
{% endblock %}

{% block javascript %}
<script src="https://webapi.amap.com/maps?v=2.0&amp;key=3713e08bba2f85ad35c1ad69943d725f"></script>
<script>
window._AMapSecurityConfig = {
            securityJsCode:'76636e9692509e65528251d7a3c487c6',
}

let coord = [114.352223,30.56534];

let map = new AMap.Map('amap-container', {
	resizeEnable: true,
	zoom:14,
	center: coord
});


function addMarker(coord) {
	let marker = new AMap.Marker({
		//position: new AMap.LngLat(coord[0], coord[1]),
	});
	marker.setPosition(coord);
	map.add(marker);
}

function showInfoWindow(coord) {
	let infoWindow = new AMap.InfoWindow({
		anchor: 'top-left',
		content: '湖北大同保险经纪有限公司',
	});
	infoWindow.open(map, coord);
}

addMarker(coord);
showInfoWindow(coord);
</script>
{% endblock %}
