<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">湖北大同保险经纪有限公司</span>
          </a>
          <p>怀抱“经世济民，天下大同”的美好愿景，大同经纪在荆楚大地播下了希望的种子。在精彩的绽放中实现华丽转身，独树一帜，引领风潮。</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-wechat"></i></a>
            <a href=""><i class="bi bi-sina-weibo"></i></a>
            <a href=""><i class="bi bi-tiktok"></i></a>
            <a href=""><i class="bi bi-tencent-qq"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>网站导航</h4>
          <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">产品服务</a></li>
            <li><a href="#">新闻公告</a></li>
            <li><a href="#">联系我们</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>我们的服务</h4>
          <ul>
            <li><a href="#">政府（社会）风险解决方案</a></li>
            <li><a href="#">企业风险解决方案</a></li>
            <li><a href="#">个人风险解决方案</a></li>
            <li><a href="#">农业保险</a></li>
            <li><a href="#">健康保险</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>联系我们</h4>
          <p>湖北省武汉市</p>
          <p>武昌区水果湖街中北路</p>
          <p>126号尚城国际/栋5层20室-1</p>
          <p class="mt-4"><strong>电话:</strong> <span>027-59301692</span></p>
          <p><strong>邮箱:</strong> <span>info@hbdtjj.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">湖北大同保险经纪有限公司</strong> <span>版权所有</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        <a href="https://beian.miit.gov.cn">鄂ICP备19016530号-3</a>
      </div>
    </div>

  </footer>
