{% set route = app.request.get('_route') %}
{#
{% set route = app.request.attributes.get('_route') %}
#}

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">湖北大同保险经纪有限公司</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">首页<br></a></li>
          <li><a href="about.html">关于我们</a></li>
          <li class="dropdown"><a href="#"><span>产品服务</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">产品服务</a></li>
              <li><a href="#">业务中心</a></li>
            </ul>
          </li>
          <li><a href="services.html">消保专栏</a></li>
          <li><a href="services.html">信息披露</a></li>
          <li class="dropdown"><a href="#"><span>新闻公告</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">公司新闻</a></li>
              <li class="dropdown"><a href="#"><span>公告通知</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">会议纪要</a></li>
                  <li><a href="#">项目公告</a></li>
                  <li><a href="#">下载中心</a></li>
                </ul>
              </li>
              <li><a href="#">集团新闻</a></li>
              <li><a href="#">行业新闻</a></li>
              <li><a href="services.html">党建之窗</a></li>
            </ul>
          </li>
          <li><a href="services.html">加入我们</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="get-a-quote.html">联系我们</a>

    </div>
  </header>
