{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block main %}
<main class="main">
    {{ include('block/hero.html.twig') }}

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="#" class="active">团队经理</a>
              <a href="#">市场专员</a>
              <a href="#">软件开发</a>
              <a href="#">设计</a>
              <a href="#">大数据工程师</a>
            </div>

            <h4>团队经理（武汉市）</h4>
            <p>城市：武汉市 经验要求：3年 招聘人数：1人</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
            <h3>岗位职责</h3>
            <p>
            所负责片区保费达成计划目标
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>辅导训练（业务员新产品培训、课程开发授课）</span></li>
              <li><i class="bi bi-check-circle"></i> <span>业务拓展（客户关系建立维护）</span></li>
              <li><i class="bi bi-check-circle"></i> <span>续期业务推动及专业支持</span></li>
            </ul>
            <h3>岗位要求</h3>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>本科及以上，金融相关专业，2年及以上相关工作经验，具备证券从业资格</span></li>
              <li><i class="bi bi-check-circle"></i> <span>有外部获客资源和经验，有线上经营意识、擅长自媒体运营</span></li>
              <li><i class="bi bi-check-circle"></i> <span>执行力强，具备良好的团队合作意识，有较强的沟通协调与组织调度能力，以及较强的抗压能力</span></li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->


  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
