{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block main %}
<main class="main">
    {{ include('block/hero.html.twig') }}

    <div class="container">

      <div class="py-5">

        {% for n in disclosure %}
        <div class="card shadow-sm mb-3">
          <img src="{{asset("images/#{n.image}")}}">
          <div class="card-body">
            <p class="card-text">{{ n.title }}</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
