{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block main %}

<div class="main">
    {{ include('block/hero.html.twig') }}

    {{ include('block/featured.html.twig') }}

    {{ include('block/services.html.twig') }}

    {{ include('block/features.html.twig') }}

</div>

{% endblock %}

{% block javascript %}
{% endblock %}
